.gradient-custom {
    background-color: #ffb6c1; /* Light Pink */
}
.header-container {
    text-align: center;
    padding-left: 10px;
}
/* This link to where I copy the bootstrap template, example: variation #5
https://mdbootstrap.com/docs/standard/extended/login*/